
*{
    transition: all 500ms ease-out;
}

.sinblur {


    -webkit-backdrop-filter: blur(2rem);
  
    backdrop-filter: blur(2rem);
  
    
  
  }
  
  .blur {
  
      background: url(/assets/img/background1.jfif)  center;
    
      background-size: cover;
  
 
    }